In [2]:
import numpy as np
import pandas as pd
from numpy.random import rand
import gzip
import json
import ast
from scipy.cluster.vq import kmeans2
import matplotlib.pyplot as plt
import random
from scipy.sparse import coo_matrix
from scipy.sparse import lil_matrix
from numpy.random import rand
from scipy.sparse import csr_matrix, isspmatrix_csr
from pandas.api.types import CategoricalDtype
#df = getDF('reviews_Amazon_Instant_Video.json.gz')[['reviewerID','asin']]
#df  is the whole table of data, we need to act on this
# very imp code : https://stackoverflow.com/questions/49405101/grouping-all-rows-of-a-pandas-dataframewith-many-columns-with-the-same-value-i
#df = df[['reviewerID','asin']]
#df1 = df.astype(str).groupby('asin').agg(','.join).reset_index()
#df1

In [3]:
alpha_network_data = pd.read_csv("alpha_network.csv")
alpha_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
alpha_network_data = alpha_network_data[["src", "Dest"]]
#alpha_network_data1 = alpha_network_data.astype(str).groupby("Dest").agg(','.join).reset_index()
alpha_network_data

        src  Dest
0       430     1
1      3134     1
2      3026     1
3      3010     1
4       804     1
5       160     1
6        95     1
7       377     1
8       888     1
9        89     1
10     1901     1
11      161     1
12      256     1
13      351     1
14     3329     1
15     3341     1
16      649     1
17     1583     1
18       87     1
19       37     1
20      309     1
21      821     1
22     1496     1
23      637     1
24      964     1
25      594     1
26     2249     1
27      554     1
28       20     1
29     2227     1
...     ...   ...
24155  7553  7565
24156  7553  7603
24157  7595  7556
24158  7570  7564
24159  7564  7570
24160  7564  7596
24161  7571  7576
24162  7581  7584
24163  7595  7604
24164  7602  7598
24165  7601  7598
24166  7599  7598
24167  7604  7598
24168  7598  7599
24169  7598  7600
24170  7598  7604
24171  7598  7603
24172  7602  7599
24173  7601  7599
24174  7604  7599
24175  7599  7600
24176  7602  7600
24177  7601  7600
24178  7604  7600
24179  7602  7601
24180  7604  7601
24181  7601  7604
24182  7604  7602
24183  7602  7604
24184  7604  7603

[24185 rows x 2 columns]

In [4]:
alpha_gt_data = pd.read_csv("alpha_gt.csv")
alpha_gt_data.columns = ["ID","Label"]
alpha_gt_data.groupby('Label').count()

        ID
Label
-1     102
 1     137

In [5]:
alpha_IDs = alpha_gt_data['ID'].tolist()
len(alpha_IDs)

239

In [6]:
alpha_data_for_matrix = alpha_network_data.loc[alpha_network_data['src'].isin(alpha_IDs)]# filtered alpha_network_data
alpha_data_for_matrix

        src  Dest
6        95     1
13      351     1
19       37     1
21      821     1
28       20     1
37      118     1
38     3254     1
40      112     1
41       11     1
44       15     1
47        2     1
48      113     1
51       10     1
60      333     1
82      416     1
113     142     1
115     123     1
119    1760     1
124     370     1
129     255     1
131    7603     1
133       9     1
134      75     1
147       4     1
161    1072     1
179    7597     1
219     174     1
227     753     1
242     124     1
255      68     1
...     ...   ...
24131  7514  7604
24139  7564  7519
24144  7521  7552
24151  7540  7556
24152  7550  7552
24157  7595  7556
24159  7564  7570
24160  7564  7596
24163  7595  7604
24164  7602  7598
24165  7601  7598
24166  7599  7598
24167  7604  7598
24168  7598  7599
24169  7598  7600
24170  7598  7604
24171  7598  7603
24172  7602  7599
24173  7601  7599
24174  7604  7599
24175  7599  7600
24176  7602  7600
24177  7601  7600
24178  7604  7600
24179  7602  7601
24180  7604  7601
24181  7601  7604
24182  7604  7602
24183  7602  7604
24184  7604  7603

[7955 rows x 2 columns]

In [7]:
df = alpha_data_for_matrix
#df  is the whole table of data, we need to act on this
# very imp code : https://stackoverflow.com/questions/49405101/grouping-all-rows-of-a-pandas-dataframewith-many-columns-with-the-same-value-i

df_copy = df.copy()
df_copy["value"] = 1
df_copy# this prints the best col format. Now to convert to matrix:

reviewer = CategoricalDtype(sorted(df_copy["src"].unique()), ordered=True)
product = CategoricalDtype(sorted(df_copy["Dest"].unique()), ordered=True)

row = df_copy["src"].astype(reviewer).cat.codes
col = df_copy["Dest"].astype(product).cat.codes

sparse_matrix = csr_matrix((df_copy["value"], (row, col)),
                           shape=(reviewer.categories.size, product.categories.size))
M = sparse_matrix.toarray() #prints the matrix
#A.tocsr()[:,select_ind].todense()
#sparse_matrix.get_shape()
M.shape

(214, 2445)

In [9]:
A = M
k = 100
l = k+20
m = 214
n = 2445
# now in the first step we choose k = 100, l = 102, i = 2, A is considered mxn , so m = 10000, n= 5000
# In the first step, Using a random number generator, form a real n × l matrix G whose entries are independent and identically distributed
# Gaussian random variables of zero mean and unit variance
mu = 0
sigma = 1.0
G = np.random.normal(mu, sigma, (n,l))
#Compute B = AG (B ∈ R^ m×l )
#B = np.matmul(A,G)#---------------------------------------------------------first multiplication by A
B = []
for i in range(l):
    v = G[:,i]
    x = A.dot(v)
    B.append(x)
B = np.array(B).T
A = None # no more needed
G = None# not reqd anymore
X, lamda, Yt = np.linalg.svd(B, full_matrices=True)

lamda = None
Yt =  None
Q = X[:, : k] #(Q ∈ R m×k )
#Qt = Q.transpose()

#T = np.matmul(Qt,A)#-------------------------------2nd mult by A, only these two are there in this algo
#Newsparse_matrix = csr_matrix((df_copy["value"], (col, row)),shape=(reviewer.categories.size, product.categories.size))
#At = coo_matrix((data, (col, row)), shape=(1000, 1000)).tocsr()
At = M.transpose()
T = []
for i in range(k):
    v = Q[:,i]
    x = At.dot(v)
    T.append(x)
T = np.array(T)
At = None# not needed anymore
row = None
col = None
W, singlr, Vt = np.linalg.svd(T, full_matrices=True)
T = None# not needed anymore
Vt = None# not needed for the smaller dim matrix creation
U = np.matmul(Q,W)
Q = None
W = None
final = np.multiply(U,singlr)
final

array([[  7.77949637e+00,   2.02042758e+01,  -7.19948707e-01, ...,
         -9.10438970e-05,  -8.13451651e-03,   5.15359804e-04],
       [  6.82391587e+00,  -1.09094027e+00,   6.61780786e+00, ...,
         -4.53162715e-02,   7.56372432e-03,  -4.31137350e-03],
       [  7.87402891e+00,  -5.45641472e-01,  -6.70675585e+00, ...,
          9.61666376e-03,  -3.53841614e-02,   6.50703720e-03],
       ...,
       [  8.06619533e-01,  -1.53650161e-01,  -1.24728504e-01, ...,
         -5.91314084e-03,  -3.26182975e-02,  -6.64627612e-02],
       [  2.12327769e+00,   2.00136348e-01,   2.38680182e+00, ...,
         -3.20834593e-02,  -9.33992652e-03,  -1.72813672e-02],
       [  1.20317827e+00,  -3.10167844e-01,   3.72335767e-01, ...,
          1.33442012e-01,   1.43580620e-01,   4.04985251e-02]])

In [10]:
A = final
#Now do the 2-means and get the output.
#centroid, label = kmeans2(A, 2, minit='points')
#centroid will be two arrays each of 10 dimension for the two clusters
# label[i] is the code or index of the centroid the ith observation is closest to.

# Now we write the function that partitons A into A0 and A1
# A0 and A1 are lists which will contain only the indices of the rows which are supposed to be in A0 and A1
# partition takes an arr which means it contains the matrix made up of A[arr[i]]
# we need to form matrix from the rows of A as mentioned in arr
arr = list(range(214))# later this should be list(range(10**6))
def partition(arr):
    matrix = []
    for i in range(len(arr)):
        matrix.append(A[i,:])
    matrix = np.array(matrix)
    centroid, label = kmeans2(matrix, 2, minit='points')
    A0,A1 = [],[]
    for i in range(len(arr)):# this is the num of the rows, i.e. the num of accts
        if label[i] == 0:
            A0.append(i)# means A[i] should be in this as a row
        else:
            A1.append(i)# means A[i] should be in this as a row
    #A0 = np.array(A0)
    #A1 = np.array(A1)
    return (A0,A1)# returns two lists so that x = A0[i], A[x] will give the reqd row

tau = 3
# data contains lists which contain indices i. A[i] will be the reqd rows, to start with data = [0,...,9]
class Node:
    def __init__ (self, data, parent = None):
        #self.width = width
        #self.height = height
        self.parent = parent
        self.children = []
        self.data = data

    @property
    def level (self):
        return 0 if not self.parent else 1 + self.parent.level

    def split (self):
        #if self.children == []: return
        numrow = len(self.data)
        if numrow <= tau:
            self.children = []
            return
        A1,A2 = partition(self.data)
        self.children = [Node(A1, self),Node(A2, self)]
        
    def splitUntilLevel (self, maxLevel):
        if maxLevel <= self.level: return
        self.split ()
        for child in self.children: child.splitUntilLevel (maxLevel)

    def sizeofNodes(self):
        s = [len(self.data)]
        for child in self.children:
            s.append(child.sizeofNodes())
        #print(s)
        return s
    
N = Node(list(range(214)))
N.splitUntilLevel (5)
print(N.sizeofNodes())

[214, [196, [177, [3], [174, [1], [173, [1], [172]]]], [19, [1], [18, [16, [1], [15]], [2]]]], [18, [1], [17, [8, [6, [4], [2]], [2]], [9, [8, [1], [7]], [1]]]]]

In [2]:
epinions_network_data = pd.read_csv("epinions_network.csv")
epinions_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
epinions_network_data = epinions_network_data[["src", "Dest"]]
#epinions_network_data1 = epinions_network_data.astype(str).groupby("Dest").agg(','.join).reset_index()
epinions_network_data

                src        Dest
0        1312460676  2252443524
1            204358  2252443524
2            368725  2252443524
3            277629  2252443524
4            246386  2252443524
5            293732  2252443524
6            525858  2252443524
7            237120  2252443524
8         971935620  2252443524
9            295723  2252443524
10           526497  2252443524
11           312291  2252443524
12           302329  2252443524
13           344348   938184580
14           208283   938184580
15           300364   938184580
16           338015   938184580
17           213141      413215
18           410002      413215
19           235766      413215
20           200338      413215
21           236296      413215
22           223579      225778
23           225918      641452
24           287513      641452
25           200338      641452
26           289843      641452
27           315530      641452
28           204441      641452
29           363231      641452
...             ...         ...
3285195      300364      494306
3285196      575734      494306
3285197      447697      494306
3285198      292661      494306
3285199      359369      494306
3285200      526606      494306
3285201      346537      494306
3285202      211714      494306
3285203      203368      494306
3285204      219057      494306
3285205      462509      494306
3285206  3242495876      494306
3285207      242264      494191
3285208      540442      494191
3285209      389801      494191
3285210      536050      494191
3285211      432786      494191
3285212      238664      494191
3285213      227427      494191
3285214      514275      494191
3285215      200204      494191
3285216      261351      494191
3285217      536503      494191
3285218      279580      494191
3285219      515650      494191
3285220      405298      494191
3285221      370446      494191
3285222      346537      494191
3285223      333038      494191
3285224      243102      494191

[3285225 rows x 2 columns]

In [3]:
epinions_gt_data = pd.read_csv("epinions_gt.csv")
epinions_gt_data.columns = ["ID","Label"]
epinions_gt_data.groupby('Label').count()

         ID
Label
-1     1012
 1     9291

In [4]:
epinions_IDs = epinions_gt_data['ID'].tolist()
len(epinions_IDs)

10303

In [5]:
data_for_matrix = epinions_network_data.loc[epinions_network_data['src'].isin(epinions_IDs)]# filtered epinions_network_data
data_for_matrix

                src        Dest
0        1312460676  2252443524
1            204358  2252443524
2            368725  2252443524
3            277629  2252443524
4            246386  2252443524
5            293732  2252443524
6            525858  2252443524
7            237120  2252443524
9            295723  2252443524
10           526497  2252443524
11           312291  2252443524
12           302329  2252443524
13           344348   938184580
14           208283   938184580
15           300364   938184580
16           338015   938184580
17           213141      413215
18           410002      413215
19           235766      413215
20           200338      413215
21           236296      413215
22           223579      225778
23           225918      641452
24           287513      641452
25           200338      641452
26           289843      641452
27           315530      641452
28           204441      641452
29           363231      641452
30           216631      641452
...             ...         ...
3285187      372200      494306
3285189      674013      494306
3285190      388325      494306
3285191      419007      494306
3285192      222351      494306
3285193      481690      494306
3285194      447185      494306
3285195      300364      494306
3285197      447697      494306
3285198      292661      494306
3285201      346537      494306
3285202      211714      494306
3285203      203368      494306
3285205      462509      494306
3285206  3242495876      494306
3285207      242264      494191
3285208      540442      494191
3285209      389801      494191
3285210      536050      494191
3285211      432786      494191
3285212      238664      494191
3285213      227427      494191
3285214      514275      494191
3285215      200204      494191
3285216      261351      494191
3285217      536503      494191
3285218      279580      494191
3285221      370446      494191
3285222      346537      494191
3285224      243102      494191

[2915369 rows x 2 columns]

In [8]:
df = data_for_matrix
#df  is the whole table of data, we need to act on this
# very imp code : https://stackoverflow.com/questions/49405101/grouping-all-rows-of-a-pandas-dataframewith-many-columns-with-the-same-value-i

df_copy = df.copy()
df_copy["value"] = 1
df_copy# this prints the best col format. Now to convert to matrix:

reviewer = CategoricalDtype(sorted(df_copy["src"].unique()), ordered=True)
product = CategoricalDtype(sorted(df_copy["Dest"].unique()), ordered=True)

row = df_copy["src"].astype(reviewer).cat.codes
col = df_copy["Dest"].astype(product).cat.codes

sparse_matrix = csr_matrix((df_copy["value"], (row, col)),
                           shape=(reviewer.categories.size, product.categories.size))
M = sparse_matrix.toarray() #prints the matrix
#A.tocsr()[:,select_ind].todense()
#sparse_matrix.get_shape()
M.shape

(9045, 59317)

In [ ]:
A = M
k = 300
l = k+20
m = 9045
n = 59317
# now in the first step we choose k = 100, l = 102, i = 2, A is considered mxn , so m = 10000, n= 5000
# In the first step, Using a random number generator, form a real n × l matrix G whose entries are independent and identically distributed
# Gaussian random variables of zero mean and unit variance
mu = 0
sigma = 1.0
G = np.random.normal(mu, sigma, (n,l))
#Compute B = AG (B ∈ R^ m×l )
#B = np.matmul(A,G)#---------------------------------------------------------first multiplication by A
B = []
for i in range(l):
    v = G[:,i]
    x = A.dot(v)
    B.append(x)
B = np.array(B).T
A = None # no more needed
G = None# not reqd anymore
X, lamda, Yt = np.linalg.svd(B, full_matrices=True)

lamda = None
Yt =  None
Q = X[:, : k] #(Q ∈ R m×k )
#Qt = Q.transpose()

#T = np.matmul(Qt,A)#-------------------------------2nd mult by A, only these two are there in this algo
#Newsparse_matrix = csr_matrix((df_copy["value"], (col, row)),shape=(reviewer.categories.size, product.categories.size))
#At = coo_matrix((data, (col, row)), shape=(1000, 1000)).tocsr()
At = M.transpose()
T = []
for i in range(k):
    v = Q[:,i]
    x = At.dot(v)
    T.append(x)
T = np.array(T)
At = None# not needed anymore
row = None
col = None
W, singlr, Vt = np.linalg.svd(T, full_matrices=True)
T = None# not needed anymore
Vt = None# not needed for the smaller dim matrix creation
U = np.matmul(Q,W)
Q = None
W = None
final = np.multiply(U,singlr)
final

In [ ]:
A = final
#Now do the 2-means and get the output.
#centroid, label = kmeans2(A, 2, minit='points')
#centroid will be two arrays each of 10 dimension for the two clusters
# label[i] is the code or index of the centroid the ith observation is closest to.

# Now we write the function that partitons A into A0 and A1
# A0 and A1 are lists which will contain only the indices of the rows which are supposed to be in A0 and A1
# partition takes an arr which means it contains the matrix made up of A[arr[i]]
# we need to form matrix from the rows of A as mentioned in arr
arr = list(range(9045))# later this should be list(range(10**6))
def partition(arr):
    matrix = []
    for i in range(len(arr)):
        matrix.append(A[i,:])
    matrix = np.array(matrix)
    centroid, label = kmeans2(matrix, 2, minit='points')
    A0,A1 = [],[]
    for i in range(len(arr)):# this is the num of the rows, i.e. the num of accts
        if label[i] == 0:
            A0.append(i)# means A[i] should be in this as a row
        else:
            A1.append(i)# means A[i] should be in this as a row
    #A0 = np.array(A0)
    #A1 = np.array(A1)
    return (A0,A1)# returns two lists so that x = A0[i], A[x] will give the reqd row

tau = 3
# data contains lists which contain indices i. A[i] will be the reqd rows, to start with data = [0,...,9]
class Node:
    def __init__ (self, data, parent = None):
        #self.width = width
        #self.height = height
        self.parent = parent
        self.children = []
        self.data = data

    @property
    def level (self):
        return 0 if not self.parent else 1 + self.parent.level

    def split (self):
        #if self.children == []: return
        numrow = len(self.data)
        if numrow <= tau:
            self.children = []
            return
        A1,A2 = partition(self.data)
        self.children = [Node(A1, self),Node(A2, self)]
        
    def splitUntilLevel (self, maxLevel):
        if maxLevel <= self.level: return
        self.split ()
        for child in self.children: child.splitUntilLevel (maxLevel)

    def sizeofNodes(self):
        s = [len(self.data)]
        for child in self.children:
            s.append(child.sizeofNodes())
        #print(s)
        return s
    
N = Node(list(range(9045)))
N.splitUntilLevel (5)
print(N.sizeofNodes())

In [6]:
otc_network_data = pd.read_csv("otc_network.csv")
otc_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
#otc_network_data = otc_network_data[["src", "Dest"]]
#otc_network_data1 = otc_network_data.astype(str).groupby("Dest").agg(','.join).reset_index()
otc_network_data# this prints the df without filtering the value with gt

        src  Dest  Rating     Timestamp
0         6     5       2  1.289242e+09
1         1    15       1  1.289243e+09
2         4     3       7  1.289245e+09
3        13    16       8  1.289254e+09
4        13    10       8  1.289254e+09
5         7     5       1  1.289363e+09
6         2    21       5  1.289371e+09
7         2    20       5  1.289371e+09
8        21     2       5  1.289381e+09
9        21     1       8  1.289441e+09
10       21    10       8  1.289441e+09
11       21     8       9  1.289441e+09
12       21     3       7  1.289442e+09
13       17     3       5  1.289442e+09
14       17    23       1  1.289490e+09
15       10     1       8  1.289556e+09
16       10     6       7  1.289556e+09
17       10    21       8  1.289556e+09
18       10     8       1  1.289556e+09
19       10    25      10  1.289556e+09
20       10     2       7  1.289556e+09
21       10     3       7  1.289556e+09
22        4    26       1  1.289642e+09
23       26     4       1  1.289642e+09
24        5     1       3  1.289660e+09
25        5     6       3  1.289660e+09
26        5     7       1  1.289660e+09
27        1     5       4  1.289711e+09
28        6     4       2  1.289771e+09
29        4     6       5  1.289771e+09
...     ...   ...     ...           ...
35561  5688  5318       1  1.452182e+09
35562  1639  2067       1  1.452279e+09
35563  2067  1639       1  1.452279e+09
35564  2067  2045       7  1.452279e+09
35565   481  1810       6  1.452380e+09
35566  5928  1396       1  1.452382e+09
35567  3714  3837       2  1.452530e+09
35568  1018  2124       5  1.452553e+09
35569  2045  5903       1  1.452613e+09
35570   361  5449       2  1.452719e+09
35571   361  3804       4  1.452719e+09
35572  3804   361       4  1.452751e+09
35573  3837  3714       2  1.452808e+09
35574  1810  5983       4  1.452837e+09
35575  5983  1810       4  1.452837e+09
35576  5903  2045       5  1.453146e+09
35577  2731  4296       1  1.453282e+09
35578  3901  2731       1  1.453287e+09
35579    41  1052       1  1.453312e+09
35580  4608    13       2  1.453313e+09
35581  4608  2045       2  1.453317e+09
35582  2045  4608       2  1.453317e+09
35583    13  4608       2  1.453318e+09
35584  1953  5655     -10  1.453556e+09
35585  1810  4499       2  1.453611e+09
35586  4499  1810       1  1.453612e+09
35587  2731  3901       5  1.453679e+09
35588  2731  4897       5  1.453679e+09
35589    13  1128       1  1.453680e+09
35590  1128    13       2  1.453684e+09

[35591 rows x 4 columns]

In [1]:
otc_gt_data = pd.read_csv("otc_gt.csv")
otc_gt_data.columns = ["ID","Label"]
otc_gt_data.groupby('Label').count()

NameError: name 'pd' is not defined

In [15]:
otc_IDs = otc_gt_data['ID'].tolist()
len(otc_IDs)

315

In [14]:
print(otc_network_data.loc[otc_network_data['src'].isin(otc_IDs)])# filtered otc_network_data
#https://stackoverflow.com/questions/17071871/how-to-select-rows-from-a-dataframe-based-on-column-values

        src  Dest  Rating     Timestamp
0         6     5       2  1.289242e+09
1         1    15       1  1.289243e+09
2         4     3       7  1.289245e+09
3        13    16       8  1.289254e+09
4        13    10       8  1.289254e+09
5         7     5       1  1.289363e+09
6         2    21       5  1.289371e+09
7         2    20       5  1.289371e+09
8        21     2       5  1.289381e+09
9        21     1       8  1.289441e+09
10       21    10       8  1.289441e+09
11       21     8       9  1.289441e+09
12       21     3       7  1.289442e+09
13       17     3       5  1.289442e+09
14       17    23       1  1.289490e+09
15       10     1       8  1.289556e+09
16       10     6       7  1.289556e+09
17       10    21       8  1.289556e+09
18       10     8       1  1.289556e+09
19       10    25      10  1.289556e+09
20       10     2       7  1.289556e+09
21       10     3       7  1.289556e+09
22        4    26       1  1.289642e+09
27        1     5       4  1.289711e+09
28        6     4       2  1.289771e+09
29        4     6       5  1.289771e+09
30        2     4       5  1.289771e+09
31       17    28       1  1.289836e+09
32       17    13       2  1.289873e+09
33       13    17       2  1.289874e+09
...     ...   ...     ...           ...
35500  2045  4499       2  1.447987e+09
35502    35  3992       2  1.448019e+09
35503  2125  1832       2  1.448393e+09
35504    35  5993     -10  1.448435e+09
35509  2125  5569       1  1.448989e+09
35510  1018   215       3  1.449093e+09
35517    13  2252       3  1.449544e+09
35520  1352   245     -10  1.449756e+09
35521  1810  5227       3  1.449766e+09
35525  2045    33       9  1.450222e+09
35526    33  2045       9  1.450222e+09
35527  1565  1018       3  1.450279e+09
35528  1018  5569       4  1.450279e+09
35535  2125  5227       2  1.450762e+09
35537  2045  1316       1  1.450788e+09
35540  1316  2045       1  1.450902e+09
35542  1810  3714       4  1.450915e+09
35546  1396  3878       1  1.451249e+09
35550  1396  3345      -1  1.451786e+09
35553    35  6004       1  1.451906e+09
35554    35  6005       1  1.451906e+09
35556  1018   905       1  1.452137e+09
35568  1018  2124       5  1.452553e+09
35569  2045  5903       1  1.452613e+09
35574  1810  5983       4  1.452837e+09
35579    41  1052       1  1.453312e+09
35582  2045  4608       2  1.453317e+09
35583    13  4608       2  1.453318e+09
35585  1810  4499       2  1.453611e+09
35589    13  1128       1  1.453680e+09

[8317 rows x 4 columns]